{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "warn",
    "no-restricted-syntax": "off",
    "function-paren-newline": "off",
    "import/no-dynamic-require": "warn",
    "import/prefer-default-export": "off",
    "global-require": "warn",
    "no-continue": "off",
    "no-labels": "off",
    "no-label-var": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.test.js", "tests/**/*.test.js"],
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
      },
      "env": {
        "mocha": true
      },
      "plugins": [
        "chai-friendly"
      ],
      "rules": {
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2
      }
    }
  ]
}
