{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "warn",
    "function-paren-newline": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "warn",
    "global-require": "warn",
    "no-continue": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js"
        ],
        "moduleDirectory": [
          "node_modules",
          "."
        ]
      }
    }
  }
}
