{
  "check-coverage": true,
  "per-file": true,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.test.js"
  ],
  "reporter": [
    "text-summary"
  ],
  "require": [
    "@babel/register",
    "@babel/polyfill"
  ],
  "instrument": false,
  "sourceMap": false
}
